<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mapper.member">
	<select id="hlist" resultType="kr.co.domain.MemberVO">
		select * from health_persinfo
	</select>
	
	<insert id="hinsert">
		insert into health_persinfo(id, pw, name, phone, locker, shirts, birthday) values (#{id}, #{pw}, #{name}, #{phone}, #{locker}, #{shirts}, #{birthday}) 
	</insert>
	
	<select id="hread" resultType="kr.co.domain.MemberVO">
		select * from health_persinfo where id=#{id}
	</select>
	
	<select id="hhomeNewBoard" resultType="kr.co.domain.BoardDTO">
		select * from (select rownum rnum, title, readcnt, writeday, category from (select * from health_newboard where category=#{category} order by pk_num desc)) where rnum between 1 and 3
	</select>
	
</mapper>